extends layout

block content
    div.user-action#user-action
    div.loading
    div.mobile-controller
        div.mobile-controller.left
        div.mobile-controller.right
    div.overlay#overlay
        div.content-scale#content-scale
            div.content#content
    div.activity.visible#menu
        div.wrapper-scale
            div.wrapper
    div.activity#play
        div.wrapper-scale
            div.wrapper
    div.activity#game
        div.wrapper-scale
            div.wrapper
    div.activity#options
        div.wrapper-scale
            div.wrapper
    div.activity#multiplayer
        div.wrapper-scale
            div.wrapper
    div.activity#about
        div.wrapper-scale
            div.wrapper
    div.activity#level
        div.wrapper-scale
            div.wrapper
    div.activity#leaderboard
        div.wrapper-scale
            div.wrapper
    div.activity#changelog
        div.wrapper-scale
            div.wrapper
    div.activity#puzzles-locked
        div.wrapper-scale
            div.wrapper

    script(src='/javascripts/game.js')