@font-face {
    font-family: 'picrossjs-text-wide-light';
    src: url('/font/Abstract.woff2') format('woff2'),
    url('/font/Abstract.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'picrossjs-text-title';
    src: url('/font/3Dventure.woff2') format('woff2'),
    url('/font/3Dventure.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'picrossjs-text-wide-light';
    src: url('/font/Abstract.woff2') format('woff2'),
    url('/font/Abstract.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'picrossjs-text-normal';
    src: url('/font/DigitalixCyr.woff2') format('woff2'),
    url('/font/DigitalixCyr.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'picrossjs-text-normal-2';
    src: url('/font/LeaderboardCyr.woff2') format('woff2'),
    url('/font/LeaderboardCyr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'picrossjs-text-bold';
    src: url('/font/8BITWONDERNominal.woff2') format('woff2'),
    url('/font/8BITWONDERNominal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'picrossjs-logo';
    src: url('/font/04b30.woff2') format('woff2'),
    url('/font/04b30.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'lcd-font';
    src: url('/font/I-pixel-u.woff2') format('woff2'),
    url('/font/I-pixel-u.woff') format('woff');
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'hint-font';
    src: url('/font/LemonMilk.woff2') format('woff2'),
    url('/font/LemonMilk.woff') format('woff');
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'hint-font-light';
    src: url('/font/LemonMilklight.woff2') format('woff2'),
    url('/font/LemonMilklight.woff') format('woff');
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*background: #b0e8e7;*/
    /*background: -moz-linear-gradient(-45deg, #b0e8e7 1%, #fefeb4 39%, #9cb6d3 100%);*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#b0e8e7), color-stop(39%,#fefeb4), color-stop(100%,#9cb6d3));*/
    /*background: -webkit-linear-gradient(-45deg, #b0e8e7 1%,#fefeb4 39%,#9cb6d3 100%);*/
    /*background: -o-linear-gradient(-45deg, #b0e8e7 1%,#fefeb4 39%,#9cb6d3 100%);*/
    /*background: -ms-linear-gradient(-45deg, #b0e8e7 1%,#fefeb4 39%,#9cb6d3 100%);*/
    /*background: linear-gradient(135deg, #b0e8e7 1%,#fefeb4 39%,#9cb6d3 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e8e7', endColorstr='#9cb6d3',GradientType=1 );*/

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.ui-resizable-se {
    /*width: 10px;*/
    /*height: 10px;*/
    /*background: orange;*/
    position: absolute;
    bottom: 0;
    right: 0;
}
.ui-resizable-se:hover {
    /*background: black;*/
    /*cursor: pointer;*/
}

.bigred {
    color: red;
    font-size: 5rem;
}
body {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    position: fixed;
    position: -ms-device-fixed;
    display: inline-block;
    /*min-width: 800px;*/
    /*min-height: 800px;*/
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    font-family: 'hint-font-light';
    text-align: center;
    opacity: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #00B7FF;
}

.activity {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: 800ms;
    /*top: -1784px;*/
}

.activity#game {
    background: #ffffff;
}

.activity#level {
    background: #ffffff;
}

/*.activity:before {*/
/*display: inline-block;*/
/*height: 100%;*/
/*vertical-align: middle;*/
/*content: "";*/
/*}*/
.wrapper-scale {
    resize: both;
    padding: 30px;
    position: relative;
    height: 100%;
}
.content-scale {
    /*padding: 10px;*/
    resize: both;
    position: relative;
    height: 100%;
}
.wrapper {
    /*position: absolute;*/
    /*display: block;*/
    /*!*width: 700px;*!*/
    /*width: max-content;*/
    /*width: -moz-max-content;*/
    /*width: -webkit-max-content;*/
    /*width: -o-max-content;*/
    /*height: max-content;*/
    /*height: -moz-max-content;*/
    /*height: -webkit-max-content;*/
    /*height: -o-max-content;*/
    /*top: 0px;*/
    /*left: 0px;*/
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    min-width: 1170px;
    height: auto;
    padding: 50px;
    text-align: center;
    /*background: white;*/
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    /*transition: all 800ms ease 0s;*/
    display: table;
}

.display {
    position: absolute;
    display: inline-block;
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    height: max-content;
    height: -moz-max-content;
    height: -webkit-max-content;
    height: -o-max-content;
    top: 0px;
    left: 0px;
    transition: 100ms;
}

.overlay {
    font-family: 'hint-font';
    position: absolute;
    width: 100%;
    height: 100%;
    height: inherit;
    top: 0px;
    left: 0px;
    z-index: 21;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: 1000ms;
}

.content {
    /*position: absolute;*/
    /*display: block;*/
    /*vertical-align: middle;*/
    /*transition: 800ms;*/
    /*top: 0;*/
    /*left: unset;*/
    /*height: 550px;*/
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    max-height: 500px;
    padding: 50px;
    text-align: center;
    /*background: white;*/
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    transition: all 0ms ease 0s !important;
}
.content > .gamefield {
    margin-bottom: 30px !important;
}

.overlay .content h1 {
    position: relative;
    display: block;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 5px 5px 0px #000000;
    text-transform: uppercase;
    transition: 400ms;
    height: 0px;
    overflow: hidden;
}

#overlay {
    opacity: 0;
    z-index: -1;
}

#overlay h1 {
    top: 0px;
}

#overlayed {
    position: relative;
    display: block;
    border: 0px solid rgba(0, 0, 0, 0);
    transition: 600ms;
    opacity: 0;
    box-shadow: unset;
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    margin: 0 auto;
}

#overlayed .true {
    background: #000000;
    border: 3px solid #000000;
}

#overlayed .false {
    background: #ffffff !important;
    border: 3px solid #ffffff;
}

#overlayed .cell {
    background: #ffffff;
    border: 3px solid rgba(0, 0, 0, 0);
}

#overlayed .cell:hover {
    border: 3px solid rgba(0, 0, 0, 0) !important;
    box-shadow: 0px 0px 0px 0px #000000 !important;
}

.ingame-menu {
    position: absolute;
    display: inline-block;
    top: 50px;
    left: 35px;
    width: 249px;
    background-color: #000;
    height: 225px;
    border-radius: 5px;
    vertical-align: bottom;
}
.ingame-menu-mobile {
    top: 130px !important;
    height: 143px !important;
}

.menu-level {
    font-family: 'picrossjs-text-normal';
    text-align: center;
    font-weight: bold;
    font-size: 37px;
    letter-spacing: 7.6px;
    left: 6px;
    color: #fff;
    overflow: visible;
    vertical-align: top;
    width: 210px;
    display: inline-block;
    position: relative;
    top: 5px;
    z-index: 5;
    width: 100%;
    line-height: 48px;
}

#clock {
    font-family: 'picrossjs-text-normal';
    letter-spacing: 4px;
    display: inline-block;
    font-size: 28.5px;
    font-weight: bold;
    color: #f8d800;
    padding: 5px 0px 5px 0px;
    left: 4px;
    bottom: 87px;
    text-align: center;
    width: 100%;
    position: absolute;
    border: 0px solid;
}

.clock-mobile {
    bottom: 5px !important;
}

hour, min, sec {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0px;
}

.gamefield {
    border: 5px solid #000000;
    display: inline-block;
    vertical-align: top;
    background-color: #778588;
    border-radius: 5px;
    left: 5px;
    position: relative;
}

.cell {
    transition: 300ms;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: top;
    background-color: #ffffff;
    border: 3px solid #B0BEDB;
    box-shadow: 0px 0px 0px 0px #00A1F8;
}

.cell:nth-child(2n+2) {
    /*background: #E8F0F8;*/
}

.cell:hover {
    cursor: pointer;
    border: 3px solid #00A1F8;
    box-shadow: 0px 0px 0px 3px #00A1F8;
    z-index: 2;
}

.true {
    background-color: rgba(50, 221, 255, 1);
    /*box-shadow: 0px 0px 0px 0px #EC6561 !important;*/
    box-shadow: inset 0px 0px 0px 0px #fff;
}

.true:hover {
    box-shadow: 0px 0px 0px 3px #00A1F8;
}

.false {
    /*background-color: rgba(236, 101, 97, 1);*/
    /*box-shadow: 0px 0px 0px 0px #EC6561 !important;*/
    box-shadow: inset 0px 0px 0px 0px #fff;
}

.marked i {
    transition: 0ms;
}

.marked i {
    color: #F8D800 !important;
    transition: 0ms;
}

.clicked {
    box-shadow: inset 0px 0px 0px 15px #fff;
}

.cell-wrapper {
    display: table-cell;
    height: 50px;
    width: 50px;
    text-align: center;
    color: #EF9635;
    font-size: 40px;
    vertical-align: middle;
}

.horizontal {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: right;
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    bottom: 15px;
    max-height: 300px;
}

.vertical {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    right: 5px;
}

.horizontal .hint {
    /* padding-top: 25px; */
    position: relative;
    display: inline-block;
    width: 50px;

    height: 100%;
    min-height: 300px;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;

    text-align: center;
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-top: 0px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    bottom: 0px;
    left: 4px;
}

.horizontal .hint div {
    display: block;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 5px;
}

.hint-align {
    position: absolute !important;
    display: block;
    bottom: 0px;
    width: 80%;
    text-align: center;
}

.vertical .hint {
    display: block;
    text-align: right;
    border-bottom: 3.2px solid rgba(0, 0, 0, 0);
    border-right: 0px solid rgba(0, 0, 0, 0);
    border-left: 0px solid rgba(0, 0, 0, 0);
    border-top: 3.2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding-right: 15px;
    line-height: 50px;

    min-width: 300px;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -o-fit-content;

    top: 1px;
    position: relative;
}

.vertical .hint div {
    margin-left: 30px;
    /*top: 4px;*/
    /*cursor: 0px;*/
}

.hint {
    font-family: 'hint-font-light';
    vertical-align: -webkit-baseline-middle;
    /*background-color: #B0E8E7;*/
    font-size: 35px;
    font-weight: bold;
}

.hint div {
    position: relative;
    display: inline-block;
}

.horizontal .hint:nth-child(2n+1) {
}

.horizontal .hint:nth-child(2n+2) {
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(100%, rgba(50, 221, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#b8c8f8', GradientType=0);
}

.vertical .hint:nth-child(2n+1) {
    background: -moz-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(100%, rgba(50, 221, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    background: linear-gradient(to right, rgba(125, 185, 232, 0) 0%, rgba(50, 221, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#b8c8f8', GradientType=1);
}

.vertical .hint:nth-child(2n+2) {
    height: 100%;
}

.hinthighlight {
    background: #000000 !important;
    color: #ffffff;
}

.cellhighlight {
    background-color: #dcdfef;
    color: #ffffff;
}

.visible {
    position: absolute;
    display: block;
    opacity: 1 !important;
    z-index: 1 !important;
    pointer-events: all;
    top: 0px !important;
}

.invisible {
    position: absolute;
    display: block;
    opacity: 0 !important;
    z-index: -1 !important;
    pointer-events: none;
/ / top: 0 px !important;
}

.soon:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}

.soon {
    pointer-events: none !important;
    color: rgba(255, 255, 255, 0.2) !important;
    cursor: unset !important;
}

.menu-item {
    position: relative;
    display: block;
    font-family: 'picrossjs-text-normal';
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    /*text-shadow: 5px 5px 0px #000000;*/
    transition: 200ms;
    padding: 10px 30px 10px 30px;
    background: #2B2B2B;
    width: 380px;
    /*border: 5px solid #000000;*/
    letter-spacing: 1px;
    margin: 10px auto;
    border-radius: 5px;
}

.ad {
    position: relative;
    display: block;
    font-family: 'picrossjs-text-normal' !important;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 8px;
    color: #000000;
    transition: 200ms;
    padding: 10px 30px 10px 30px;
    background: none !important;
    width: 400px;
    /*border: 5px solid #000000;*/
    letter-spacing: 1px;
    margin: 10px auto;
    border-radius: 5px;
}

.ad:hover {
    font-size: 12px;
    color: #f8d800 !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    cursor: pointer;
}

.menu-item:hover {
    color: #f8d800 !important;
    text-shadow: 4px 4px 0px #000000;
    cursor: pointer;
}

#menu {
}

.puzzle {
    position: relative;
    display: inline-block;
    background: #000000;
    margin: 10px 10px 30px 10px;
    vertical-align: top;
    cursor: pointer;
    /*transition: 200ms;*/
    /*width: 100px;*/
    /*height: 100px;*/
    width: 106px;
    height: 103px;
    border-radius: 0px 5px 5px 5px;
}

.puzzle-thumb {
    position: relative;
    display: inline-block;
    background: #000000;
    margin: 10px 10px 30px 10px;
    vertical-align: top;
    cursor: pointer;
    /*transition: 200ms;*/
    /*width: 100px;*/
    /*height: 100px;*/
    width: 106px;
    height: 103px;
    border-radius: 0px 5px 5px 5px;
}

.puzzle-locked {
    font-family: 'picrossjs-text-normal';
    position: relative;
    display: inline-block;
    color: #000;
    vertical-align: top;
    cursor: pointer;
    /*transition: 200ms;*/
    width: 100px;
    height: 100px;
}

.puzzle:hover {
    position: relative;
    background: #f8d800;
    box-shadow: inset 0px 0px 0px 4px #000000;
}

.puzzle-id {
    color: #f8d800 !important;
    font-size: 8px;
    letter-spacing: 2px;
    font-family: 'picrossjs-text-normal';
    position: absolute;
    top: -14px;
    left: 0px;
    text-align: center;
    background: #000000;
    padding: 7px 6px 0px 10px;
    vertical-align: bottom;
    border-radius: 5px 5px 0px 0px;
}

.puzzle-list {
    width: 700px;
    /*overflow: hidden;*/
    min-height: 429px;
    position: relative;
    padding-top: 5px;
    display: block;
    margin: 0 auto;
}

.puzzle-page {
    position: relative;
    display: block;
    top: 0px;
    padding-bottom: 30px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.puzzle-pages {
    position: relative;
    display: inline-block;
    color: #fff;
    font-family: 'picrossjs-text-normal';
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 25px;
    /* text-shadow: 5px 5px 0px #000000; */
    /*transition: 200ms;*/
    padding: 10px 10px 10px 15px;
    background: #000000;
    /* border: 5px solid #000000; */
    letter-spacing: 2px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.puzzle-pages:hover {
    color: #f8d800 !important;
    cursor: pointer;
}

.puzzle-page-current {
    background-color: #f8d800;
    color: #000;
    padding: 15px 13px 15px 17px;
    font-size: 30px;
}

.puzzle-page-disabled {
    opacity: 0.2;
    color: #fff !important;
    /*pointer-events: none !important;*/
}

.puzzle-page-disabled:hover {
    opacity: 0.5;
    color: #fff !important;
    /*pointer-events: none !important;*/
}

.puzzle-page-current:hover {
    background-color: #f8d800;
    color: #fff !important;
    padding: 15px 13px 15px 17px;
}

.puzzle-record {
    font-family: 'picrossjs-text-normal';
    color: #000000;
    font-size: 10px;
    letter-spacing: 2px;
    position: absolute;
    bottom: -13px;
    width: 100%;
    text-align: center;
}

#game-logo {
    position: relative;
    display: block;
    font-family: "picrossjs-text-normal";
    font-weight: bold;
    font-size: 70px;
    color: #2b2b2b;
    transition: 200ms;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 20px;
}

#game-version {
    position: absolute;
    display: block;
    font-family: "picrossjs-text-normal";
    font-weight: bold;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.3);
    transition: 200ms;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    right: 330px;
    top: 160px;
}


#game-version:hover {
    color: #f8d800 !important;
    cursor: pointer;
}

#game-logo b {
    color: #f8d800;
    /*text-shadow: 10px -10px 0px rgba(0,0,0,0.05);*/
}

.activity p {
    font-family: 'picrossjs-text-normal-2';
    /*width: 600px;*/
    max-width: 700px;
    min-width: 700px;
    cursor: 30px;
    letter-spacing: 0px;
    font-size: 25px;
    color: #2b2b2b;
    text-align: center;
    font-smooth: never;
    -webkit-font-smoothing: none;
    margin: 30px auto;
}

.activity t {
    font-family: 'picrossjs-text-normal';
    letter-spacing: 4px;
    font-size: 35px;
    color: #2b2b2b;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.activity t b {
    color: #f8d800;
}

.black {
    background: #000000;
}

.white {
    background: #fff;
}

.thumb {
    /*position: relative;*/
    /*display: block;*/
    /*height: 100px;*/
    /*width: 100px;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*transform: scale(0.30);*/
    /*!*box-shadow: 0px 0px 0px 17px #ffffff;*!*/
    /*!*background: #000000;*!*/
    position: absolute;
    display: block;
    width: 141px;
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    height: auto;
    margin: 0px;
    transform: scale(0.30);
    /*box-shadow: 0px 0px 0px 20px #ffffff !important;*/
    /*top: -37px;*/
    /*left: -37px;*/
    vertical-align: top;
    overflow: hidden;
    background-color: #fff;
}

.thumb-puzzle {
    /*position: relative;*/
    /*display: block;*/
    /*height: 100px;*/
    /*width: 100px;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*transform: scale(0.30);*/
    /*!*box-shadow: 0px 0px 0px 17px #ffffff;*!*/
    /*!*background: #000000;*!*/
    position: absolute;
    display: block;
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    height: auto;
    transform: scale(0.30);
    box-shadow: 0px 0px 0px 17px #ffffff !important;
    /*top: -37px;*/
    /*left: -37px;*/
    vertical-align: top;
    overflow: hidden;
    background-color: #fff;
}

.thumb-block {
    /*position: relative;*/
    /*display: inline-block;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*margin: 0px 0px -5px 0px;*/
    /*padding: 0px;*/
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0px;
    /*margin: -2px 2px 2px 2px;*/
    margin: -3px -0.9px -3.9px -0.9px;

}

.level-list {
    position: relative;
    display: inline-block;
    width: 610px;
    text-align: left;
    /*min-height: 285px;*/
}

.back {
    margin-top: 40px;
}

.puzzle-menu {
    position: absolute;
    display: block;
    width: 100%;
    cursor: 0px;
    left: 0px;
    text-align: left;
    bottom: 10px;
}
.puzzle-menu-mobile {
    top: 10px !important;
}

.puzzle-button {
    position: relative;
    cursor: pointer;
    color: #2B2B2B;
    top: 1px;
    left: 9px;
    display: inline-flex;
    width: 70.5px;
    height: 69px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    z-index: 2;
    transform: scale(1);
    vertical-align: top;
    background-color: #f8d800;
    margin-right: 5px;
}

.puzzle-button:hover {
    background-color: #ffffff;
}

.puzzle-button i {
    margin: auto;
}

.puzzle-button i:hover {
    transition: 200ms;
}

#puzzle-marker {
    transform: scale(1);
    transition: 200ms;
    /* border: 9px solid; */
    /*background-color: #f8d800;*/
}

#puzzle-help {
    font-size: 43px;
    transition: 200ms;
}

#puzzle-exit {
    font-size: 43px;
    transition: 200ms;
}

.mark-on {
    background-color: rgba(236, 101, 97, 1);
    color: #fff;
}

.mark-on:hover {
    background-color: rgba(236, 101, 97, 1);
    color: #fff;
}

.mark-on {
    font-size: 55px !important;
    transition: 200ms;
}

.mark-off {
    font-size: 36px !important;
    transition: 200ms;
}

.cell i {
    position: relative;
    display: block;
    font-size: 48px;
    font-size: -webkit-xxx-large;
    color: rgba(236, 101, 97, 1);
    width: -webkit-fill-available;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}

#message {
    font-size: 20px;
    font-family: 'picrossjs-text-normal';
    position: absolute;
    display: block;
    color: #f8d800;
    background-color: #000;
    width: 200px;
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    margin: 0;
    left: -45px;
    transition: 400ms;
    padding: 0px;
    top: 0px;
    opacity: 0;
    z-index: -2;
    height: 0px;
    overflow: hidden;
    cursor: unset;
    transition-timing-function: steps(4, end);
}

.default {
    position: absolute;
    display: block;
    opacity: 1;
    z-index: 666;
}

.settings {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 1;
    z-index: 666;
}

#volume {
    position: relative;
    display: block;
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    height: max-content;
    height: -moz-max-content;
    height: -webkit-max-content;
    height: -o-max-content;
}

#volume i {
    display: block;
    padding: 25px;
    font-size: 60px;
    color: #2B2B2B;
    cursor: pointer;
}

.loading {
    font-family: 'picrossjs-text-normal';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    /*background-color: #2b2b2b;*/
    z-index: -2;
    font-size: 50px;
    color: #000;
    opacity: 0;
    transition: 800ms;
}

t {
    transition: 400ms;
}

.loading-block {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 15px;
    background-color: #000;
    transition: 300ms;
}

.loading-block:nth-child(2), .loading-block:nth-last-child(1) {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 15px;
    background-color: #F8D800;
    transition: 300ms;
}

.loading-object {
    text-align: left;
    letter-spacing: -8px;
    width: 233px;
    overflow: hidden;
    border: 0px solid;
    height: 231px;
    transform: scale(0.3) rotate(45deg);
    transition: 800ms;
    opacity: 0;
    margin: 0 auto;
}

.hintHighlightGuess {
    opacity: 0.3 !important;
}

.narrationline-horizontal {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 6px;
    background-color: #F8D800;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.8;
}

.narrationline-vertical {
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 100%;
    background-color: #F8D800;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.8;
}

.notification-button {
    position: relative;
    display: block;
    font-family: 'picrossjs-text-normal';
    background-color: #F8D800;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 25px;
    color: #000000;
    transition: 300ms;
    padding: 10px 30px 10px 30px;
    width: 380px;
    letter-spacing: 2px;
    margin: 10px auto;
    border-radius: 5px;
    opacity: 0;
    /*margin-top: 30px;*/
    /*margin-top: 10px;*/
}

.notification-button:hover {
    color: #000000 !important;
    text-shadow: 4px 4px 0px #ffffff;
    cursor: pointer;
}

.notification-title {
    font-family: 'picrossjs-text-normal';
    margin-bottom: 16px;
    margin-top: 0px;
}

.notification-content {
    transition: 800ms;
    position: relative;
    display: block;
    opacity: 0;
    /*padding-bottom: 25px;*/
}

.notification-content p {
    font-family: 'picrossjs-text-normal-2';
    min-width: 600px;
    max-width: 800px;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    font-smooth: never;
    -webkit-font-smoothing: none;
    letter-spacing: 1px;
    margin: 0 auto;
    padding-bottom: 20px;
    transition: 600ms;
}
.notification-content input {
    transition: 600ms;
}

.notification-content p:last-child {
    padding-bottom: unset;
}

#notification-time {
    background-color: #F8D800;
    font-family: 'picrossjs-text-normal';
    letter-spacing: 2px;
    font-size: 40px;
    position: relative;
    display: inline-block;
    padding: 10px;
    top: 0px;
    border-radius: 5px;
    opacity: 0;
    transition: 600ms;
    margin-bottom: 30px;
}

#overlayed .cell {
    transition: 1000ms !important;
}

.hide-screen {
    opacity: 0 !important;
    z-index: -1 !important;
}

.cell.tutorial-highlight-hint {
    background: rgba(248, 216, 0, 1) !important;
    transition: 1200ms !important;
}

.tutorial-highlight-hint #h1 {
    /*background: rgba(248,216,0, 1) !important;*/
    border-radius: 5px;
    transition: 1200ms !important;
}

.tutorial-highlight-hint #v1 {
    /*background: rgba(248,216,0, 1) !important;*/
    border-radius: 5px;
    transition: 1200ms !important;
}

.tutorial-highlight-hint .hint:nth-child(2n+2) {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    transition: 1200ms !important;
}

.tutorial-highlight-hint .hint:nth-child(2n+1) {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    transition: 1200ms !important;
}

.tutorial-highlight-hint .hint:nth-child(2n+2) {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    transition: 1200ms !important;
}

.overtime p b {
    color: #f8d800 !important;
}

.overtime p {
    color: #fff !important;
}

.notification-title b {
    color: #f8d800 !important;
}

/*.wrapper b {*/
/*cursor: pointer;*/
/*text-shadow: 2px 2px 0px #000000;*/
/*color: #f8d800 !important;*/
/*}*/
.wrapper p b {
    cursor: pointer;
    text-shadow: 1px 1px 0px #000000;
    color: #f8d800 !important;
    letter-spacing: 1px;
}

.notification-content b {
    cursor: pointer;
    text-shadow: 3px 3px 0px #000000;
    color: #f8d800 !important;
}

.notification-content b:hover {
    text-shadow: -3px 3px 0px #000000;
    color: #f8d800 !important;
}

.puzzle-button-clicked {
    background-color: rgba(236, 101, 97, 1) !important;
    color: #fff;
}

.puzzle-button-hint-used {
    /*background-color: #4EC3E0 !important;*/
    cursor: none !important;
    pointer-events: none !important;
    color: rgba(43, 43, 43, 0.3) !important;
}

.puzzle-button-hint-used:hover {
    /*background-color: #4EC3E0 !important;*/
    cursor: none !important;
    pointer-events: none !important;
    color: rgba(43, 43, 43, 0.3) !important;
}

.user-action {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 1;
    transition: 800ms;
    width: 100%;
    text-align: left;
    padding-top: 4px;
}

.user-action-line {
    position: relative;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: 800ms;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}

.user-action-line p {
    font-family: 'picrossjs-text-normal';
    font-size: 6px;
    letter-spacing: 1px;
    padding: 0px 0px 0px 8px;
}

.changelog {
    position: relative;
    display: block;
    /*width: 600px;*/
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 350px;
    text-align: center;
    margin: 2em;
}
.changelog p {
    text-align: left;
    width: 400px !important;
    max-width: 400px !important;
    min-width: 400px !important;
    margin: 10px auto;
}

.changelog::-webkit-scrollbar {
    width: 1em;
    background: #2B2B2B;
    display: none;
}

.changelog::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    display: none;
}

.changelog::-webkit-scrollbar-thumb {
    display: none;
    background: #F8D800;
    /*outline: 1px solid slategrey;*/
}

.leaderboard {
    position: relative;
    display: block;
    /*width: 600px;*/
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 350px;
    text-align: center;
    margin: 2em;
}

.leaderboard-wrap {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    /*max-width: 500px;*/
    left: 0px;
}

.leaderboard-item {
    position: relative;
    /*display: inline-block;*/
    /*width: 75px;*/
    /*height: 75px;*/
    /*border: 1px solid;*/
    margin: 5px;
    text-align: left;
}

.leaderboard::-webkit-scrollbar {
    width: 1em;
    background: #2B2B2B;
    display: none;
}

.leaderboard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    display: none;
}

.leaderboard::-webkit-scrollbar-thumb {
    display: none;
    background: #F8D800;
    /*outline: 1px solid slategrey;*/
}

.leaderboard-item div {
    position: relative;
    display: inline-block;
}

.player-complete {
    font-family: 'picrossjs-text-normal';
    font-size: 14px;
    letter-spacing: 1px;
    width: 50px;
    text-align: center;
}

.player-text {
    font-family: 'picrossjs-text-normal';
    font-size: 8px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.player-id {
    font-family: 'picrossjs-text-normal';
    font-size: 14px;
    letter-spacing: 1px;
}

.content input {
    position: relative;
    display: block;
    font-family: 'picrossjs-text-normal';
    padding: 10px 10px 10px 10px;
    margin: 10px auto;
    width: 320px;
    text-align: center;
    letter-spacing: 1px;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0px;
}

::placeholder {
    color: rgba(0,0,0,0.4);
    opacity: 1;
}
:-ms-input-placeholder {
    color: rgba(0,0,0,0.4);
}
::-ms-input-placeholder {
    color: rgba(0,0,0,0.4);
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
#auhorize-error {
    position: relative;
    display: block;
    opacity: 0;
    transition: 600ms;
}

.mobile-controller {
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    z-index: -1;
    bottom: 0px;
    opacity: 0;
}
.mobile-controller .left {
    left: 0px;
    bottom: 0px;
    width: 100px;
    height: 100px;
    background-color: #00B7FF;
}
.mobile-controller .right {
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 100px;
    background-color: #00B7FF;
}